body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

nav a:hover {
    background: #555;
}

.hero {
    background: url('images/hero.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background: #f04e30;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.hero button:hover {
    background: #c03e28;
}

#about,
#destinations-packages,
#featured-attractions,
#booking-reservation {
    padding: 2rem 5%;
}

#about img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 1rem auto;
}

.destination,
.attraction {
    display: inline-block;
    width: 30%;
    margin: 1rem 1.5%;
    text-align: center;
}

.destination img,
.attraction img {
    width: 100%;
    border-radius: 8px;
}

.destination h3,
.attraction h3 {
    margin-top: 0.5rem;
}

button {
    padding: 1rem 2rem;
    background: #f04e30;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 2rem auto;
    font-size: 1rem;
}

button:hover {
    background: #c03e28;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

footer a {
    color: #f04e30;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Modal Styles */
.modal-content {
    background: #fff;
    border-radius: 8px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/* Center Buttons */
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

/* Back to Top Button */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #f04e30;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#backToTopBtn:hover {
    background-color: #c03e28;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .destination,
    .attraction {
        display: block;
        width: 80%;
        margin: 1rem auto;
    }
}
