body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #FF008B;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #dddddd;
}

.hero {
    text-align: center;
    padding: 2rem 0;
    background-color: #ffffff;
}

.hero h3 {
    color: #0B0C0D;
    font-size: 2rem;
}

.hero h2 {
    color: #021549;
    font-size: 2.5rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.signup-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.signup-form input[type="submit"] {
    background-color: #FF008B;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.signup-form input[type="submit"]:hover {
    background-color: #dd0077;
}

.error-message, .success-message {
    color: red;
    margin-top: 0.5rem;
    display: none;
}

.success-message {
    color: green;
}
