.body {
    font-family: 'Kantipur', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #45a049;
}
.image{
    align-items: center;
}
.hero {
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

h2 {
    color: #333;
}

.about, .services, .news {
    background-color: #f9f9f9;
    padding: 20px 0;
}

.service-items, .news-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item, .news-item {
    background: white;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}