/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4816df;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interactive {
    margin-top: 20px;
    text-align: center;
}

.interactive h2 {
    margin-bottom: 10px;
}

/* Carousel Styles */

.carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* Section Styles */

aside,
section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
}

section.signup {
    text-align: center;
}

.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.signup button {
    padding: 10px 20px;
    background-color: #4816df;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup button:hover {
    background-color: #3410b3;
}

.booking form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.booking input,
.booking select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.booking button {
    padding: 10px 20px;
    background-color: #4816df;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking button:hover {
    background-color: #3410b3;
}

/* Footer Styles */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    .carousel {
        height: 300px;
    }

    .carousel-btn {
        font-size: 20px;
        padding: 8px;
    }

    .prev,
    .next {
        top: 45%;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .booking input,
    .booking select {
        width: 90%;
        max-width: none;
    }
}
