body.login-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../image/b1.jpg');
    background-size: cover;
}

.container.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.container.login-container p {
    text-align: center;
    margin-top: 20px;
}

.container.login-container p a {
    color: #007bff;
    text-decoration: none;
}

.container.login-container p a:hover {
    text-decoration: underline;
}
